{% extends 'campaign-layout.html' %}

{% block title %} Locations {% endblock %}

{% block campaign_name %} {{ campaign.name }}{% endblock %}
{% block gm_name %} {{ campaign.game_master.username }}{% endblock %}


{% block content %}

    {% if campaign.game_master == user %}
        <div class="card" >
            <div class="card-body">
                <a href="{% url 'new-location' pk=campaign.id charid=request.resolver_match.kwargs.charid %}"><h5
                        class="card-title">New Location</h5></a>
            </div>
        </div>
    {% endif %}

    <ul class="list-group" style="margin-top: 15px">
        {% include "location-tree.html" %}
    </ul>


{% endblock %}