{% extends 'campaign-layout.html' %}

{% block title %} Session {{ session.order }} {% endblock %}
{% block campaign_name %} {{ campaign.name }}{% endblock %}
{% block gm_name %} {{ campaign.game_master.username }}{% endblock %}


{% block content %}

    <div class="card bg-primary">
        <div class="card-body">
            <h5 class="card-title">Session Order: {{ session.order }}</h5>
            <p class="card-text">{{ session.description }}</p>
        </div>
    </div>

    <div class="card-columns" style="margin-top: 15px">
        {% for character_session in character_sessions %}
            <div class="card">
                <div class="card-body" style="position: relative">
                    <h5 class="card-title">{{ character_session.character.name }}</h5>
                    <p class="card-text">{{ character_session.character_log }}</p>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}